.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .mat-card {
      width: 25%;
      padding: 30px;
      margin-top: 10rem !important;
      margin-left: 30rem !important;
  }

  .button-row {
      text-align: center;
  }

  button {
    width: 5rem;
    padding: 5px;
    margin-top: 2rem;
}
  